{% extends 'repoakuntansi/index.html' %} 

{% block title %} 
    Pembimbing
{% endblock %}

{% block content %} 
    <div class="row">
        <div class="col-12">
            <a href="/pembimbing" class="btn btn-sm btn-primary mb-3">Back</a>
            <div class="card">
                <div class="card-header">
                    Form Create New pembimbing
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="/pembimbing/create" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label class="form-label">Nama</label>
                                    <input type="text" class="form-control form-control" name="nama" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Username</label>
                                    <input type="text" class="form-control form-control" name="username" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control form-control" name="email" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">NIP</label>
                                    <input type="number" class="form-control form-control" name="nip"  />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <input type="password" class="form-control form-control" name="password"  />
                                </div>
                                <button class="btn btn-primary btn-sm">Simpan</button>
                            </form>
                            
                            {% for msg in messages %} 
                                {% if msg.tags == 'success' %}
                                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                                <script>
                                Swal.fire({
                                    title: "Success",
                                    text: "{{msg}}",
                                    icon: "success",
                                    showConfirmButton: false,
                                    timer: 1500,
                                });
                                </script>
                                {% endif %} 
                                {% if msg.tags == 'error' %}
                                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                                <script>
                                    Swal.fire({
                                    title: "Error",
                                    html: "{{msg}}",
                                    icon: "error",
                                    });
                                </script>
                                {% endif %} 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
