{% extends 'repoakuntansi/index.html' %} 

{% block title %} 
    Tugas Akhir
{% endblock %}

{% block content %} 
    <div class="row">
        <div class="col-12">
            <a href="/tugas-akhir/create" class="btn btn-sm btn-primary mb-3">Create New Tugas Akhir</a>
            <div class="card">
                <div class="card-header">
                    List Tugas Akhir
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nama Mahasiswa</th>
                                <th scope="col">Dosen Pembimbing</th>
                                <th scope="col">Judul</th>
                                {% comment %} <th scope="col">Status</th> {% endcomment %}
                                <th scope="col">Draft</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{item.user.nama}}</td>
                                    <td>{{item.pembimbing.nama}}</td>
                                    <td>{{item.judul}}</td>
                                    {% comment %} <td>{{item.status}}</td> {% endcomment %}
                                    <td>{{item.file}}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a href={% url 'tugas-akhir-edit' id=item.id %}  class="btn btn-info text-white btn-sm">Edit</a>
                                            <a href={% url 'tugas-akhir-delete' id=item.id %}  class="btn btn-danger btn-sm">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {% for msg in messages %} 
        {% if msg.tags == 'success' %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
        Swal.fire({
            title: "Success",
            text: "{{msg}}",
            icon: "success",
            showConfirmButton: false,
            timer: 1500,
        });
        </script>
        {% endif %} 
        {% if msg.tags == 'error' %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
            title: "Error",
            text: "{{msg}}",
            icon: "error",
            });
        </script>
        {% endif %} 
    {% endfor %}
{% endblock %}
