{% extends 'repoakuntansi/index.html' %} 
{% block content %} {% comment %}
<form method="post">
  {% csrf_token %}
  <input type="text" name="username" />
  <input type="text" name="nim" />
  <input type="text" name="password" />
  <button type="submit">Upload</button>
</form>
{% endcomment %}

<form method="POST" class="post-form" enctype="multipart/form-data">
  {% csrf_token %} {% comment %} {{ form.as_p }} {% endcomment %}
  <input type="text" name="user" value="1" />
  <input type="text" name="title" class="form-control input-default" />
  <input type="text" name="deskripsi" />
  <input type="text" name="status" />
  <input type="file" name="file" />
  <button type="submit" class="btn btn-primary">Save</button>
</form>

{% for buku in books %}
<tr>
  <td>
    {% if buku.file %}
    <img src="{{ buku.file.url }}" width="90px" />
    {% endif %}
  </td>
</tr>
{% endfor %} {% comment %} {% for book in object_list %}
<tr>
  <td>{{ book.nim }}</td>
</tr>
{% endfor %} {% if uploaded_file_url %}
<p>
  File uploaded at:
  <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a>
</p>
{% endif %} {% endcomment %} 
{% if messages|length > 0 %} 
  {% for msg in messages %} 
    {% if msg.tags == 'success' %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      Swal.fire({
        title: "Success",
        text: "{{msg}}",
        icon: "success",
        showConfirmButton: false,
        timer: 1500,
      });
    </script>
    {% endif %} 
    {% if msg.tags == 'error' %}
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
        Swal.fire({
          title: "Error",
          text: "{{msg}}",
          icon: "error",
        });
      </script>
    {% endif %} 
  {% endfor %}
{% endif %} 

{% endblock %}
